body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: 'Poppins';
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins-Medium.ttf) format('truetype');
}
