.product-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.product-image img{
    max-width: 100px;
    max-height: auto;
}

.product-text-info{
    flex-grow: 2;
    align-self: flex-start;
}
